numpy>=1.18.5
tensorflow-cpu==2.8.1
opencv-python-headless==4.5.3.56
mtcnn-opencv
keras
numpy
scipy
Pillow
cython
matplotlib
scikit-image
tensorflow>=1.3.0
keras>=2.0.8
opencv-python
h5py
imgaug
IPython[all]
